<ng-container *ngIf="cartItems.length; else cartItemShow">
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card border-0">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-8">
                  <div *ngFor="let product of cartItems; let i = index">
                    <div class="mb-4 d-flex align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          [src]="
                            baseUrl +
                            product.attributes.image.data.attributes.url
                          "
                          style="height: 100px"
                          alt="Cotton T-shirt"
                        />
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted text-uppercase">
                          {{ product.attributes.name }}
                        </h6>
                        <!-- <h6 class="text-black mb-0">Cotton T-shirt</h6> -->
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <input
                          min="1"
                          name="quantity"
                          [value]="product.quantity"
                          [(ngModel)]="product.quantity"
                          type="number"
                          class="form-control form-control-sm"
                          (change)="changeSubtotal(product, i)"
                        />
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0" #subTotalWrap>
                          ₹{{ product.quantity * product.attributes.price }}
                        </h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <button
                          class="btn btn-danger"
                          (click)="removeFromCart(product.id)"
                        >
                          Remove
                        </button>
                      </div>
                    </div>

                    <hr class="my-4" />
                  </div>
                  <div class="row">
                    <div class="col-12 text-end">
                      <a
                        class="btn btn-primary text-uppercase ms-auto"
                        [routerLink]="checkAuth"
                      >
                        Place Order
                    </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-light">
                  <div class="p-5">
                    <h4 class="fw-bold mb-5 mt-2 pt-1">PRICE DETAILS</h4>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <h5>Price ({{ cartItems.length }} items)</h5>
                      <h5>₹{{ ItemTotalPrice }}</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <h5>Delivery Charges</h5>
                      <h5>₹{{ shipingPrice }}</h5>
                    </div>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>₹ {{ totalPrice }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #cartItemShow>
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <div class="card p-5 text-center">
          <img
            class="card-img-top w-25 mx-auto"
            src="https://rukminim2.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
            alt="Card image cap"
          />
          <ng-container *ngIf="isLoggedIn$ | async; else logoutShow">
            <div class="card-body">
              <h5 class="card-title">Your cart is empty!</h5>
              <p class="card-text">Add items to it now.</p>
              <a class="btn btn-primary" routerLink="/category">Shop Now</a>
            </div>
          </ng-container>
          <ng-template #logoutShow>
            <div class="card-body">
              <h5 class="card-title">Missing Cart items?</h5>
              <p class="card-text">
                Login to see the items you added previously
              </p>
              <a class="btn btn-primary" routerLink="/login">Login</a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
