<section style="background-color: #eee">
  <div class="text-center container py-5">
    <ng-container *ngIf="products?.length; else prdShow">
      <h4 class="mt-4 mb-5"><strong>All Products</strong></h4>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let product of products">
          <div class="card h-100">
            <div
              class="bg-image hover-zoom ripple ripple-surface ripple-surface-light p-4"
              data-mdb-ripple-color="light"
            >
              <a [routerLink]="product.id.toString()" class="text-reset">
                <img
                  [src]="
                    baseUrl + product?.attributes?.image?.data?.attributes?.url
                  "
                />
              </a>
            </div>
            <div class="card-body d-flex flex-column">
              <a [routerLink]="product.id.toString()" class="text-reset">
                <h6 class="card-title mb-3 text-uppercase">
                  {{ product.attributes.name }}
                </h6>
              </a>
              <div class="mb-3">
                <ng-container *ngIf="hasSpecialPrice(product); else hasSpecial">
                  <ng-container *ngIf="hasFixedPrice(product)">
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      <del class="me-2 text-muted fs-4">{{
                        product.attributes.price
                      }}.00</del>
                      <h4 class="mb-0">
                        {{ product.attributes.specialPrice }}.00 INR
                      </h4>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!hasFixedPrice(product)">
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      <del class="me-2 text-muted fs-4">{{
                        product.attributes.price
                      }}.00</del>

                      <h4 class="mb-0">
                        {{
                          calculateDiscountedPrice(
                            product.attributes.price,
                            product.attributes.specialPrice
                          )
                        }}.00
                        INR
                      </h4>
                    </div>
                    <span class="text-success">
                      ({{ product.attributes.specialPrice }}% off)</span
                    >
                  </ng-container>
                </ng-container>
                <ng-template #hasSpecial>
                  <div class="d-flex justify-content-center align-items-center">
                    <h4 class="mb-0">{{ product.attributes.price }}.00 INR</h4>
                  </div>
                </ng-template>
              </div>
              <div class="icon-gorup mt-auto">
                <a [routerLink]="product.id.toString()"
                  ><i class="bi bi-bag-dash fs-4 text-black"></i
                ></a>
                <button class="btn" *ngIf="isItemExists(product)">
                  <i
                    class="bi bi-heart-fill text-danger fs-4"
                    (click)="handleRemoveWishList(product.id)"
                  ></i>
                </button>
                <button
                  class="btn"
                  *ngIf="!isItemExists(product)"
                >
                  <i
                    class="bi bi-heart text-danger fs-4"
                    (click)="
                      handleAddToWishList(
                        currentUser.email,
                        product.id.toString()
                      )
                    "
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #prdShow>
      <h4>No Data Found.</h4>
    </ng-template>
  </div>
</section>
