<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="bg-body-tertiary col-md-6 p-4 text-center">
      <img
        [src]="'http://localhost:1337' + product.image.data.attributes.url"
      />
    </div>
    <div class="col-md-6">
      <div class="product-dtl">
        <div class="product-info">
          <div class="product-name text-uppercase">{{ product.name }}</div>
          <div class="reviews-counter">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" checked />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" checked />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" checked />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <span>3 Reviews</span>
          </div>
          <div class="product-price-discount">
            <span>₹{{ product.price }}</span
            ><span class="line-through">₹{{ product.specialPrice }}</span>
          </div>
        </div>
        <p>
          {{ product.description }}
        </p>

        <div class="product-count">
          <label for="size">Quantity</label>
          <form action="#" class="display-flex">
            <div class="qtyminus" (click)="decreaseQuantity()">-</div>
            <input type="text" name="quantity" [value]="quantity" class="qty" />
            <div class="qtyplus" (click)="increaseQuantity()">+</div>
          </form>
          <button class="round-black-btn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
