<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="bg-body-tertiary col-md-6 p-4 text-center position-relative">
      <div class="end-0 position-absolute top-0">
        <button class="btn" *ngIf="isItemExistsInWishlist(product)">
          <i
            class="bi bi-heart-fill text-danger fs-4"
            (click)="handleRemoveWishList(product.id)"
          ></i>
        </button>
        <button
          class="btn"
          *ngIf="!isItemExistsInWishlist(product)"
        >
          <i
            class="bi bi-heart text-danger fs-4"
            (click)="
              handleAddToWishList(
                currentUser.email,
                product.id.toString()
              )
            "
          ></i>
        </button>
      </div>
      <img
        [src]="
          'http://localhost:1337' + product.attributes.image.data.attributes.url
        "
      />
    </div>
    <div class="col-md-6">
      <div class="product-dtl">
        <div class="product-info">
          <div class="product-name text-uppercase">{{ product.name }}</div>
          <div class="reviews-counter">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" checked />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" checked />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" checked />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <span>3 Reviews</span>
          </div>
          <div class="product-price-discount">
            <ng-container *ngIf="hasSpecialPrice(product); else hasSpecial">
              <ng-container *ngIf="hasFixedPrice(product)">
                <h4>{{ product.attributes.specialPrice }}.00 INR</h4>
              </ng-container>
              <ng-container *ngIf="!hasFixedPrice(product)">
                <h4>
                  {{
                    calculateDiscountedPrice(
                      product.attributes.price,
                      product.attributes.specialPrice
                    )
                  }}.00 INR
                </h4>
              </ng-container>
            </ng-container>
            <ng-template #hasSpecial>
              <h4>{{ product.attributes.price }}.00 INR</h4>
            </ng-template>
          </div>
        </div>
        <p>
          {{ product.description }}
        </p>
        <div class="row">
          <div class="col-md-6">
            <label for="size">Size</label>
            <select id="size" name="size" class="form-control">
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="color">Color</label>
            <select id="color" name="color" class="form-control">
              <option>Blue</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
        <div class="product-count">
          <label for="size">Quantity</label>
          <form action="#" class="display-flex">
            <div class="qtyminus" (click)="decreaseQuantity()">-</div>
            <input type="text" name="quantity" [value]="quantity" class="qty" />
            <div class="qtyplus" (click)="increaseQuantity()">+</div>
          </form>
          <div class="mt-5">
            <button class="btn btn-primary p-2" (click)="addToCart(product)">
              Add to Cart
            </button>
            <button
              routerLink="/cart"
              class="btn btn-outline-primary ms-3 p-2"
              *ngIf="isItemExists(product)"
            >
              Go to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
