<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="bg-body-tertiary col-md-6 p-4 text-center position-relative">
      <img
        [src]="
          'http://localhost:1337' + product.attributes.image.data.attributes.url
        "
      />
    </div>
    <div class="col-md-6">
      <div class="product-dtl">
        <div class="product-info">
          <div class="product-name text-uppercase">
            {{ product.attributes.name }}
          </div>
          <div class="reviews-counter">
            <app-star-rating
              [rating]="
                filterReviewByUserEmail
                  ? filterReviewByUserEmail.attributes.note
                  : selectedRating
              "
              [readOnly]="true"
              name="rating-1"
            ></app-star-rating>
            <!-- <span>{{ subTotalNote }} Rating & </span> -->
            <span>{{ allReview.length }} Reviews</span>
          </div>
          <div class="product-price-discount">
            <ng-container *ngIf="hasSpecialPrice(product); else hasSpecial">
              <ng-container *ngIf="hasFixedPrice(product)">
                <h4>{{ product.attributes.specialPrice }}.00 INR</h4>
              </ng-container>
              <ng-container *ngIf="!hasFixedPrice(product)">
                <h4>
                  {{
                    calculateDiscountedPrice(
                      product.attributes.price,
                      product.attributes.specialPrice
                    )
                  }}.00 INR
                </h4>
              </ng-container>
            </ng-container>
            <ng-template #hasSpecial>
              <h4>{{ product.attributes.price }}.00 INR</h4>
            </ng-template>
          </div>
        </div>
        <p>
          {{ product.attributes.description }}
        </p>
        <div class="row">
          <div class="col-md-4" *ngFor="let attribute of productAttributes">
            <app-select-dropdown
              [attribute]="attribute"
              (setAttributeSelected)="onAttributeChange($event)"
            ></app-select-dropdown>
          </div>

          <div class="col-md-4">
            <!-- <label for="quantity">Quantity</label> -->
            <input
              type="number"
              min="1"
              [max]="product.attributes.stock"
              name="quantity"
              id="quantity"
              [(ngModel)]="quantity"
              class="form-control form-control-sm"
            />
            <p *ngIf="quantity === product.attributes.stock">
              Maximam {{ quantity }} product is available.
            </p>
          </div>
        </div>
        <div class="product-count d-flex align-items-end">
          <button class="btn btn-primary p-2" (click)="addToCart(product)">
            Add to Cart
          </button>
          <button
            routerLink="/cart"
            class="btn btn-outline-primary ms-3 p-2"
            *ngIf="isItemExists(product)"
          >
            Go to Cart
          </button>
          <button
            type="button"
            *ngIf="isLoggedIn$ | async"
            class="btn btn-primary ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Rate Product
          </button>
          <button
            type="button"
            *ngIf="!(isLoggedIn$ | async)"
            class="btn btn-primary ms-auto"
            routerLink="/login"
          >
            Rate Product
          </button>
        </div>
        <button
          *ngIf="isItemExistsInWishlist(product)"
          class="btn btn-outline-danger mt-4 bi-heart-fill"
          routerLink="/wishlist"
        >
          Remove To Wishlist
        </button>
        <button
          *ngIf="!isItemExistsInWishlist(product)"
          class="btn btn-outline-danger bi-heart mt-4"
          (click)="
            handleAddToWishList(currentUser.email, product.id.toString())
          "
        >
          Add To Wishlist
        </button>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Review this product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #closeBtn
          ></button>
        </div>
        <div class="modal-body">
          <p class="mb-0">Rating</p>
          <div class="reviews-counter d-inline-block">
            <app-star-rating
              [rating]="
                filterReviewByUserEmail
                  ? filterReviewByUserEmail.attributes.note
                  : selectedRating
              "
              (ratingChanged)="onRatingChanged($event)"
              name="rating-2"
            ></app-star-rating>
          </div>
          <p class="mb-0 mt-4">Description</p>
          <textarea
            #reviewDescription
            class="w-100"
            [(ngModel)]="description"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveReview(reviewDescription)"
            [disabled]="!isFormValid"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
